@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.todos-bg-container {
  background-color: #f9fbfe;
  min-height: 100vh;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 46px;
  margin: 20px 0;
}

.create-task-heading,
.todo-items-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}

.create-task-heading-subpart,
.todo-items-heading-subpart {
  font-weight: 500;
}

.todo-user-input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e4e7eb;
  margin-top: 10px;
}

.button {
  background-color: #4c63b6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  margin-top: 20px;
}

.todo-items-container {
  list-style-type: none;
  padding: 0;
}

.todo-item-container {
  margin-top: 15px;
}

.label-container {
  background-color: #e6f6ff;
  border-left: 5px solid #096f92;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.checkbox-input {
  margin: 15px;
  width: 20px;
  height: 20px;
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  flex-grow: 1;
  padding: 15px;
}

.delete-icon {
  padding: 15px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
}
